# Providers
GEMINI_API_KEY=
OPENROUTER_API_KEY=
OLLAMA_BASE_URL=http://localhost:11434
LLM_PROVIDER=

# Image Providers
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
IMAGE_PROVIDER=
OPENAI_API_KEY=

# Models
LLM_MODEL=
EMBED_MODEL=
